    /*-----Transformation 1-----*/

/*On définit la transition sur .button pour avoir un retour fluide quand on ne survole plus*/
.button{
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.button:hover{
    transform: scaleX(1.2) scaleY(1.2);
}


    /*-----Transformation 2-----*/
.tops-item{
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    /*ces 3 propriétés peuvent être écrites en une ligne : transition : transform 0.2s linear; */
}

.tops-item:hover{
    transform: skewX(-8deg) translateX(10px);
}


    /*-----Transformation 3-----*/
.header-nav-item{
    transition: transform 0.3s ease-out;
}

.header-nav-item:hover{
    transform: translateY(5px) scale(1.05);
}


    /*-----Transformation 4-----*/
.main-nav-item{
    transition: transform 0.3s ease-out;
}

.main-nav-item:hover{
    transform: scale(1.2);
}


    /*-----Animation 1-----*/
/*On crée une animation pop*/
@keyframes effet_pop{
    /*Au départ et à la fin, l'élément est à la taille initiale*/
    0%, 100%{
        transform:  scale(1);
    }
    /*A mi-chemin, l'élément est agrandi*/
    50%{
        transform: scale(1.1);
    }
}

.ideas-col:hover{
    /*On lance l'animation, fonctionne tant que le hover est actif (inifinite), 1,5s est la durée d'une boucle complète*/
    animation: effet_pop 1.3s ease-in-out infinite; 
}


    /*-----Animation 3D 1-----*/
.conteneur{
    width: 9rem;
    height: 7rem;
    perspective: 1000px;
    display: flex;
}

.header-logo{
    width: 100%;
    height: 100%;
}

.logo_3d_face, .logo_3d_dos{
    position: absolute; /*On superpose les deux faces*/
    backface-visibility: hidden; /*cache la face arrière des images */
    width: 100%;
    height: 100%;
}

.logo_3d_dos{
    transform: rotateX(180deg) rotateY(180deg); /*On retourne la face arrière*/
    animation: cache_dos 3s ease-in-out infinite; /*on cache la face arrière, voir détails plus bas*/
}

.logo_3d{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /*cette ligne active la 3D pour les éléments enfants*/
    animation: rotation_piece 3s ease-in-out infinite; /*Rotation continue de la pièce */
}

.logo_3d:hover{
    animation-play-state: paused; /*Quand on survole, l'animation s'arrête*/
}

@keyframes rotation_piece{
    0%{transform: rotateY(0deg);}
    100%{ transform: rotateY(360deg);}
}

@keyframes cache_dos{
    /*Dos invisible au début*/
    0%,46%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    /*Dos invisible à la fin*/
    54%,100%{
        opacity: 0;
    }
}


/* Les chiffres des stats s'agrandissent au survol et se rétrécissent quand on est plus dans la zone*/
.footer-stats-item-number {
    transition: transform 0.3s ease;
}

.footer-stats-item:hover .footer-stats-item-number {
    transform: scale(1.2);
}

/* Décale les logos au survol et écarte le texte grâce à text-indent*/
.footer-social-icon {
    transition: transform 0.3s ease; 
    text-indent: 0;
}

.footer-social-icon:hover {
    transform: translateX(3px);
    text-indent: 5px;
}
